body {
  background-color: rgb(200, 252, 252);
  font-family: 'Courier New', Courier, monospace;
}

a, a:visited {
  color: darkslategray;
  text-decoration: underline 0.15em rgba(0, 128, 128, 0);
  transition: text-decoration-color 100ms;
  transition-timing-function: ease-in-out;

}

a:hover {
  text-decoration-color: teal;
}

p {
  color: darkgreen;
}

h1 {
  color: teal;
}

hr {
  border-width: 0.5px;
  border-color: darkcyan;
}