footer {
    width: 100%;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    min-height: 10%;
    height: fit-content;
    text-align: center;
    padding: 2%;
    background-color: rgb(0, 0, 0, 0.2);

}

/* .icon-links {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */