footer {
    width: 100%;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    min-height: 10%;
    height: fit-content;
    text-align: center;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.2);
}

.icon-links {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
